<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Richard V.Welsh</p>
                        <div>
                            <small class="designation text-muted">Manager</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
            </div>
        </li>

        <li class="nav-item" *ngFor="let menu of _sidebar.menu">
            <!-- routerLinkActive="active" routerLink="/dashboard" -->
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i [class]="menu.icono"></i>
                <span class="menu-title">{{ menu.titulo }}   <span class="badge badge-dark">{{ menu.submenu.length }}</span>
                </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu" *ngFor="let sm of menu.submenu">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="[sm.url]"> {{ sm.titulo }} </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
